{% extends 'base.html.twig' %}
{% block body %}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-success">
        {{ message }}
        </div>
    {% endfor %}
    <small class="d-block text-right mt-3">
        <a href="{{ path('micropost_add') }}">Add new</a>
    </small>
    <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>
{% for post in pagination %}
    <a href="{{ path('micropost_show', {'id': post.id }) }}">
        <div class="pink-square"></div>
    {{ include('micro-post/row-post.html.twig', {'post': post }) }}
    </a>

    <small class="d-block text-right mt-3">
        <a href="{{ path('micropost_edit', {'id': post.id }) }}">Edit</a>
        <a href="{{ path('micropost_delete', {'id': post.id }) }}">Delete</a>
    </small>
    {% endfor %}

    <div class="pagination">
        {% if currentPage > 1 %}
            <a href="{{ path('micro_post_index', {'page': currentPage - 1}) }}" class="previous">Previous</a>
        {% endif %}

        <div class="page-numbers">
            {% for i in 1..totalPages %}
                <a href="{{ path('micro_post_index', {'page': i}) }}" class="{{ currentPage == i ? 'active' : '' }}">{{ i }}</a>
            {% endfor %}
        </div>

        {% if currentPage < totalPages %}
            <a href="{{ path('micro_post_index', {'page': currentPage + 1}) }}" class="next">Next</a>
        {% endif %}
    </div>

{% endblock %}