{% extends 'base.html.twig' %}
{% block body %}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-success">
        {{ message }}
        </div>
    {% endfor %}
    <small class="d-block text-right mt-3">
        <a href="{{ path('micropost_add') }}">Add new</a>
    </small>
    <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>
{% for post in posts %}
    <a href="{{ path('micropost_show', {'id': post.id }) }}">
    {{ include('micro-post/row-post.html.twig', {'post': post }) }}
    </a>

    <small class="d-block text-right mt-3">
        <a href="{{ path('micropost_edit', {'id': post.id }) }}">Edit</a>
        <a href="{{ path('micropost_delete', {'id': post.id }) }}">Delete</a>
    </small>
    {% endfor %}
{% endblock %}