{% extends 'base.html.twig' %}

{% block title %}Hello TeamController!{% endblock %}

{% block body %}

    <div class="md-6">
        <div class="example-wrapper">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Match League Id</th>
                    <th scope="col">Home Team</th>
                    <th scope="col">Away Team</th>
                    <th scope="col">Home Team Goals</th>
                    <th scope="col">Away Team Goals</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    {% for game in games %}
                        <td>{{ game.getMatchLeagueId() }}</td>
                        <td>{{ game.getHomeTeam().getName() }}</td>
                        <td>{{ game.getAwayTeam().getName() }}</td>
                        <td>{{ game.getHomeTeamGoal() }}</td>
                        <td>{{ game.getHomeTeamGoal() }}</td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
